JavaTest/TemperatureConverter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://example.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://example.ws">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://example.ws">
            <xs:element name="f2cConvertion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fValue" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="f2cConvertionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="c2fConvertion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cValue" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="c2fConvertionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="c2fConvertionRequest">
        <wsdl:part name="parameters" element="xsd:c2fConvertion"/>
    </wsdl:message>
    <wsdl:message name="c2fConvertionResponse">
        <wsdl:part name="parameters" element="xsd:c2fConvertionResponse"/>
    </wsdl:message>
    <wsdl:message name="f2cConvertionRequest">
        <wsdl:part name="parameters" element="xsd:f2cConvertion"/>
    </wsdl:message>
    <wsdl:message name="f2cConvertionResponse">
        <wsdl:part name="parameters" element="xsd:f2cConvertionResponse"/>
    </wsdl:message>
    <wsdl:portType name="TemperatureConverterPortType">
        <wsdl:operation name="c2fConvertion">
            <wsdl:input message="xsd:c2fConvertionRequest" wsaw:Action="urn:c2fConvertion"/>
            <wsdl:output message="xsd:c2fConvertionResponse" wsaw:Action="urn:c2fConvertionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="f2cConvertion">
            <wsdl:input message="xsd:f2cConvertionRequest" wsaw:Action="urn:f2cConvertion"/>
            <wsdl:output message="xsd:f2cConvertionResponse" wsaw:Action="urn:f2cConvertionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TemperatureConverterSoap11Binding" type="xsd:TemperatureConverterPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="c2fConvertion">
            <soap:operation soapAction="urn:c2fConvertion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="f2cConvertion">
            <soap:operation soapAction="urn:f2cConvertion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TemperatureConverterSoap12Binding" type="xsd:TemperatureConverterPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="c2fConvertion">
            <soap12:operation soapAction="urn:c2fConvertion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="f2cConvertion">
            <soap12:operation soapAction="urn:f2cConvertion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TemperatureConverterHttpBinding" type="xsd:TemperatureConverterPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="c2fConvertion">
            <http:operation location="c2fConvertion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="f2cConvertion">
            <http:operation location="f2cConvertion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TemperatureConverter">
        <wsdl:port name="TemperatureConverterHttpSoap11Endpoint" binding="xsd:TemperatureConverterSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/TemperatureConverter"/>
        </wsdl:port>
        <wsdl:port name="TemperatureConverterHttpSoap12Endpoint" binding="xsd:TemperatureConverterSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/TemperatureConverter"/>
        </wsdl:port>
        <wsdl:port name="TemperatureConverterHttpEndpoint" binding="xsd:TemperatureConverterHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/TemperatureConverter"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
